body {
    margin: 0px;
    padding: 0;
    background: linear-gradient(#FFEFD5, #87CEEB) no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}

h1 {
    text-align: center;
    orientation: top;
}

#mentor, #update{
    padding: 15px 32%;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    margin: 5px;
}

.centerpage {
    height: 100vh;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myMentor{
    font-size: 18px;
}

.menteePage {
    overflow: hidden;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 3px 12px 28px -3px rgba(0,0,0,0.45);
}

.txt {
    text-align: center;
}

a {
    /* font-weight: 600; */
      /* color: #1e90ff; */
      text-decoration: none;
  }

.anchorBtn {
    display: inline-block;
    padding: 15px 32%;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    margin: 5px;
    background: rgb(239, 239, 239);
  }
  
.anchorBtn:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
  }

button {
    padding: 8px;
    margin: auto;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
    background-color: #d62828;
    color: white;
  }
  
  button:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
  }


  