<!DOCTYPE html>
<html lang="en">
    
</html>
<head>
    <meta charset="utf-8">
    <link href="Create_Account.css" rel="stylesheet">
</head>
<body>
    <div class="centerpage">
        <div class="createAccount">
           <h1>Create Account</h1>
           <form method="POST" action="/create_account">
               <!--Create Account-->
               <label>E-mail</label>
               <input type="email" name="email" id="email"><br><br>
               <label>Password</label>
               <input type="password" name="password" id="password"><br><br>
               <label>First Name</label>
               <input type="firstName" name="firstName" id="firstName"><br><br>
               <label>Last Name</label>
               <input type="lastName" name="lastName" id="lastName"><br>
               <button type="create" name="create" id="create">Create Account</button>
            </form>
        </div> 
    </div>
</body>