<!DOCTYPE html>
<html lang="en">
    
</html>
<head>
    <meta charset="utf-8">
    <link href="Create_Account.css" rel="stylesheet">
</head>
<body>
    <div class="centerpage">
        <div class="createAccount">
           <h1>Create Account</h1>
           <form method="POST" action="action-page.php">
               
                <!--Create Account-->
                <!-- This leads you to a create account page for mentors -->
               <button type="mentor" name="mentor" id="mentor"><a href="Create_Account_Part2.html" target="_blank">Mentor</a></button><br><br>

                <!-- This leads you to a create account page for mentors -->
               <button type="mentee" name="mentee" id="mentee"><a href="Create_Account_Part2.html" target="_blank">Mentee</a></button><br><br>
            </form>
        </div> 
    </div>
</body>