<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="utf-8">
    <link href="Create_Account.css" rel="stylesheet">

</head>
<body>
  <div class="centerpage">
    <div class="createAccount">
      <h1>Register</h1>
      <form action="/Create_Account" method="POST">
                <!-- Select Account Type -->
        <div>
          <input type="radio" id="mentorRad" name="account_type" value="mentor" checked>
          <label for="mentorRad" selected>Mentor</label>
          <input type="radio" id="menteeRad" name="account_type" value="mentee">
          <label for="menteeRad">Mentee</label>
        </div>
        <div>
          <label for="Fname">First Name</label>
          <input type="text" id="Fname" name="Fname" required>
        </div>
        <div>
          <label for="Lname">Last Name</label>
          <input type="text" id="Lname" name="Lname" required>
        </div>
        <div>
          <label for="Email">Email</label>
          <input type="email" id="Email" name="Email" required>
        </div>
        <div>
          <label for="Password">Password</label>
          <input type="password" id="Password" name="Password" required>
        </div>
        <!-- These will be add later for the update profile page -->
        <!-- <div>
          <label for="State">State (Abbrivation)</label>
          <input type="text" id="State" name="State" required>
        </div>
        <div>
          <label for="Position">Position</label>
          <input type="text" id="Position" name="Position" required>
        </div>
        <div>
          <label for="Bio">Bio</label>
          <input type="text" id="Bio" name="Bio" required>
        </div> -->
        <button type="submit">Register</button>
      </form>
      <a href="/Login_Page">Login</a>
      </div> 
    </div>
  </body>
</html>