<!DOCTYPE html>
<html lang="en">

<head>
    <title>Find Mentors</title>
    <meta charset="utf-8">
    <link href="Find_Mentors.css" rel="stylesheet">
</head>

<body>
    
    <h1>Find A Mentor</h1>

    <div class="centerPage">

        <div class="findMentorsPage">
            <!-- <a style="display: block;" href="/">Home</a><br> -->
            <div class="filterSkills">
                <!-- Number of options might change -->
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for mentors"><br><br>
                
                <!-- <label for="mentors">Filter by skills: </label>
                <select>
                    <option value="Choose One">Choose One</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Finance">Finance</option>
                    <option value="Excel">Excel</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="Python">Python</option>
                </select> -->
            </div><br> <!--  End of div -->

            <!-- This will contain the list of people who appear after using the filer -->
            <div class="results">

                <!-- Using samples for now -->
                <ul id="searchResults">

                </ul>
                
            </div> <!--  End of div -->

            <form action="/logout?_method=DELETE" method="POST"><br>
                <button class="logOut" type="submit">Log Out</button>
            </form>
        </div> <!--  End of div -->

    </div> <!--  End of div -->
    <script>
        let mentorResults = document.getElementById('searchResults')
        let mentorsData = '<%- JSON.stringify(mentor_data)%>';
        mentorsData = JSON.parse(mentorsData)
        console.log("This is Mentors data that got returned: ", mentorsData);
        // Populate all Mentors in results box
        if (mentorsData.length != 0) { // if not mentors array not empty
    
            mentorsData.forEach(mentor => {    
            //   mentorResults.innerHTML += `

            //         <li><a href="/mentor_profile/${mentor.MentorID}"> ${mentor.Fname} ${mentor.Lname}</a> </li>
            //         <li><form action="/request_mentorship/${mentor.MentorID}" method="POST"><button>Request Mentorship</button></form></li>

            //   `
            //
            mentorResults.innerHTML += `
                <li><a class="flex value="SQL" href="/mentor_profile/${mentor.MentorID}"> ${mentor.Fname} ${mentor.Lname}
                    <span style="display: none;">
                        ${mentor.Skill1} 
                        ${mentor.Skill2} 
                        ${mentor.Skill3} 
                        ${mentor.Skill4} 
                        ${mentor.Skill5} 
                        ${mentor.Skill6} 
                    </span>
                    <span ><form action="/request_mentorship/${mentor.MentorID}" method="POST"><button>Request Mentorship</button></form></span>
                    </a></li>
                
                `
            })
        }
        
        function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("searchResults");
        console.log("get ul", ul);
        li = ul.getElementsByTagName("li");
        console.log("get LI", li);
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            console.log('get anchor', a);
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
        </script>
</body>