<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Example Title of the App -->
    <title>Fellowship Of Mentors</title>
    <meta charset="utf-8">
    <link href="Login_Page.css" rel="stylesheet">

</head>

<body>

    <!--Login Page-->

    <div class="centerPage">

        <div class="loginPage">
            <h1>Welcome to Fellowship Of Mentors</h1><br>
            <h2><u>Login</u></h2>

            <form id="login" method="POST" action="action-page.php">

                <!--Email container-->
                <label>Email: </label>
                <input type="text" name="email" id="email" required><br><br>

                <!--Password container-->
                <label>Password: </label>
                <input type="password" name="password" id="password" required><br><br>

                <!--Login button-->
                <input type="submit" name="log" id="log" value="Login"><br><br>

                <!-- Takes you to the create account page -->
                <a href="Create_Account.html">Create Account</a><br><br>

            </form>
        </div>
    </div>

    </div>

</body>

</html>