<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <link href="Mentor_Profile.css" rel="stylesheet">
</head>

<body>
    <div class="centerPage">

        <div class="mentorProfilePage">
            
            <!-- This will display the Mentor's Name. Using sample for now -->
            <h1><%=fname%> <%=lname%></h1>

            <!-- This will display the Mentor's location. Unsure if hardcoding -->
            <p><%=location%></p><br>

            <h3><u>Skills</u></h3>
            
            <!-- Using sample skills for now -->
            <!-- Should we have 4 skills to the max so we can "make it better" for mentees to refine their search? -->
            <table>
                <tr>
                    <td>Skill 1</td>
                    <td>Skill 2</td>
                </tr>
                <tr>
                    <td>Skill 3</td>
                    <td>Skill 4</td>
                </tr>
                <tr>
                    <td>Skill 5</td>
                    <td>Skill 6</td>
                </tr>
            </table><br><br>

            <h3><u>Bio</u></h3>
            <!-- Text box; need to be able to make it like a box -->
            <textarea id="bio" name="bio" rows="10" cols="50"><%=bio%></textarea><br><br>

            <!-- This should take you to the Review page -->
            <a href="Review_Page.html" target="_blank"><input type="submit" id="leaveReview" value="Leave Review"></a><br><br>

            <!-- This should trigger a request sent to the mentor's profile -->
            <input type="submit" id="requestMembership" value="Request Mentorship"><br>

            <!-- Not clear if this section will be used yet -->
            <h3><u>Reviews</u></h3>


        </div>




    </div>
</body>