<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mentor Page</title>
    <meta charset="utf-8">
    <link href="Mentor_Page.css" rel="stylesheet">

</head>
<body>


  <div class="centerPage">
    
    <h1>Hi <%= name %></h1><br><br><br>

    <div class="mentorPage">

      <!-- Div for the pending requests section; contains a table, values are hardcoded for now -->
      <div id="pendingRequests">
        <h3><u>Pending Mentee Requests</u></h3>
        <table id="menteeRequests">
            <!-- <tr>
                <td>Bart Simpson</td>
                <td><button>Accept</button></td>
                <td><button>Deny</button></td>
            </tr>
            <tr>
                <td>Hank Hill</td>
                <td><button>Accept</button></td>
                <td><button>Deny</button></td>
            </tr> -->
        </table>
      </div><br><br>
      
            <!-- Div for the current mentees section; contains a table, values are hardcoded for now. Values in this table should reflect based on 
      which mentor is logged in and how many mentees he has under him -->
      <div id="myMentees">
        <h3><u>My Mentees</u></h3>
        <table>
            <tr id="menteeRow">
            </tr>
        </table>
    </div><br><br><br>
    <!-- Update Profile button -->
    <!-- <input type="submit" id="updateProfile" value="Update Profile"> -->
    <a href="/update_mentor">Update Profile</a>
     
    <!-- Log out button -->
    <form action="/logout?_method=DELETE" method="POST">
      <button class="logOut" type="submit">Log Out</button>
    
    </form>

    </div>
  </div>

  <script>
    let menteeRow = document.getElementById('menteeRow')
    let menteeRequests = document.getElementById('menteeRequests')
    let menteeData = '<%- JSON.stringify(mentee_data)%>';
    menteeData = JSON.parse(menteeData)
    console.log(menteeData);
    // Populate Mentors current Mentees in "My Mentees"
    if (menteeData.length != 0) { // if not mentee array not empty

        menteeData.forEach(mentee => {
        if (mentee.Accepted === 1) { // check if the mentee is a current  mentor's mentee if so populate
          menteeRow.innerHTML += `<td><a href="/mentee_profile/${mentee.MenteeId}">${mentee.Fname}</a></td>`
        }  else if (mentee.Accepted == 0){ // check of mentee is pending if so populate page
          menteeRequests.innerHTML += `
          <tr>
                <td><a href="/mentee_profile/${mentee.MenteeId}"> ${mentee.Fname} ${mentee.Lname}</a> </td>
                <td><form action="/" method="POST"><button>Accept</button></form></td>
                <td><form action="/" method="POST"><button> Deny </button></form></td>
            </tr>
          `
        }
      })
      
    } else {
      menteeRow.innerHTML += `<td>You don't have any Mentees.</td>`
      menteeRequests.innerHTML += `<td>You don't have any Pending Mentee Requests.</td>`
    }
    </script>
</body>
</html>