<!DOCTYPE html>
<html lang="en">

</html>
<head>
    <meta charset="utf-8">
    <link href="Mentee_Page.css" rel="stylesheet"> 
</head>
<body>
    <div class="centerpage">
        <div class="menteePage">
           <h1>Welcome (username)</h1>
           <form method="POST" action="action-page.php">
               <!--Mentee Page-->
               <label id="myMentor">My Mentors:</label>
               <ul>
                   <ol>
                   </ol>
               </ul>
               <a href="/find_mentors">Find Mentors</a><br><br>
               <!-- <button type="mentor" name="mentor" id="mentor">Find Mentors</button><br><br> -->
               <!-- <button type="update" name="update" id="update">Update Profile</button><br><br> -->
               <a href="/update_mentee">Update Profile</a>
            </form>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
              
              </form>
        </div> 
            <!-- Log out button -->
    </div>
</body>