<!DOCTYPE html>
<html lang="en">

</html>
<head>
    <meta charset="utf-8">
    <link href="Review_Page.css" rel="stylesheet">
</head>
<body>
    <div class="centerpage">
        <div class="reviewPage">
           <h1>Reviewing (Mentor Name)</h1>
           <form method="POST" action="action-page.php">
               <!--Create Account-->
               <label id="star">Star Rating</label><br>
               <input type="radio" name="number" id="one" value="1">
               <label for="rdoOne">1</label>
               <input type="radio" name="number" id="two" value="2">
               <label for="rdoTwo">2</label>
               <input type="radio" name="number" id="three" value="3">
               <label for="rdoThree">3</label>
               <input type="radio" name="number" id="four" value="4">
               <label for="rdoFour">4</label>
               <input type="radio" name="number" id="five" value="5">
               <label for="rdoFive">5</label><br><br>
               <label id="review">Review</label><br>
               <textarea name="review" rows="10" cols="50"></textarea><br><br>
               <button type="submit" name="submit" id="submit">Submit Review</button>
            </form>
        </div> 
    </div>
</body>