<!DOCTYPE html>
<html lang="en">

<head>
    <title>Update Mentor Profile</title>
    <meta charset="utf-8">
    <link href="Update_Mentor_Profile.css" rel="stylesheet">
</head>

<body>
    <div class="centerPage">

        <div class="updateMentorProfile">

            <!-- This will display the Mentor's Name. Using sample for now -->
            <h1><%=firstName%></h1>

            <h3><u>Add Skills</u></h3>


            <!-- Putting everything in a FORM tag since this will be constantly updating. Using generic action page for now -->
            <form action="/update_mentor" method="POST">
                <!-- Table for Skills, still unsure about how many skills there will be in total -->
                <div id="skillsTable">
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" id="skill1" name="SQL" value="SQL" >
                            </td>
                            <td>SQL</td>
                            <td>
                                <input type="checkbox" id="skill2" name="Python" value="Python">
                            </td>
                            <td>Python</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="skill3" name="Tableau" value="Tableau">
                            </td>
                            <td>Tableau</td>
                            <td>
                                <input type="checkbox" id="skill4" name="JavaScript" value="JavaScript">
                            </td>
                            <td>JavaScript</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="skill5" name="HTML" value="HTML">
                            </td>
                            <td>HTML</td>
                            <td>
                                <input type="checkbox" id="skill6" name="CSS" value="CSS"> 
                            </td>
                            <td>CSS</td>
                        </tr>
                    </table>
                </div><br>

                <!-- Label for location -->
                <label for="location">Location: </label>
                <input type="text" id="location" name="location"><br><br>

                <!-- Lable for years of expereience -->
                <label for="yearsOfExperience">Years of Experience: </label>
                <input type="number" min="0" max="100" id="yearsOfExperience" name="yearsOfExperience">

                <!-- Header for Bio -->
                <h3><u>Bio</u></h3>
                <!-- Text box; need to be able to make it like a box -->
                <textarea id="bio" name="bio" rows="10" cols="50"></textarea><br><br>

                <div class="saveContainer">
                    <!-- Probably need FORM tag here to save action and redirect to mentee homepage -->
                    <input type="submit" id="saveProfile" value="Save Profile">
                </div>
            </form>
            <form action="/logout?_method=DELETE" method="POST"><br>
                <button type="submit">Log Out</button>
            </form>
        </div>

    </div>
</body>